body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #4a90e2;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    padding: 20px;
}

body {
    background-image: url('bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.display {
    background-color: #fff;
    padding: 40px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#history {
    color: #888888;
    font-size: 14px;
    height: 20px;
}

#result {
    font-size: 36px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #fff;
    border: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #eeeeee;
}

.history {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    max-height: 150px;
    overflow-y: auto;
}
